/*--css--*/
@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Bold.eot');
    src: url('font/Satoshi-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-Bold.woff2') format('woff2'),
        url('font/Satoshi-Bold.woff') format('woff'),
        url('font/Satoshi-Bold.ttf') format('truetype'),
        url('font/Satoshi-Bold.svg#Satoshi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Black.eot');
    src: url('font/Satoshi-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-Black.woff2') format('woff2'),
        url('font/Satoshi-Black.woff') format('woff'),
        url('font/Satoshi-Black.ttf') format('truetype'),
        url('font/Satoshi-Black.svg#Satoshi-Black') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Medium.eot');
    src: url('font/Satoshi-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-Medium.woff2') format('woff2'),
        url('font/Satoshi-Medium.woff') format('woff'),
        url('font/Satoshi-Medium.ttf') format('truetype'),
        url('font/Satoshi-Medium.svg#Satoshi-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-MediumItalic.eot');
    src: url('font/Satoshi-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-MediumItalic.woff2') format('woff2'),
        url('font/Satoshi-MediumItalic.woff') format('woff'),
        url('font/Satoshi-MediumItalic.ttf') format('truetype'),
        url('font/Satoshi-MediumItalic.svg#Satoshi-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Regular.eot');
    src: url('font/Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-Regular.woff2') format('woff2'),
        url('font/Satoshi-Regular.woff') format('woff'),
        url('font/Satoshi-Regular.ttf') format('truetype'),
        url('font/Satoshi-Regular.svg#Satoshi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Light.eot');
    src: url('font/Satoshi-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Satoshi-Light.woff2') format('woff2'),
        url('font/Satoshi-Light.woff') format('woff'),
        url('font/Satoshi-Light.ttf') format('truetype'),
        url('font/Satoshi-Light.svg#Satoshi-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body{
	margin: 0;
	padding: 0;
}
/* Header css start */
a{
    text-decoration: none !important;
}
nav.navbar {
    background: #F5F9FF;
    border: 1px solid #D7DDEA;
    padding: 6px 16px;
    margin: 0;
}
/*ul.navbar-nav {
    gap: 25px;
}*/
.navbar-expand-lg .navbar-nav li{
    padding:0 5px;
}
.navbar-nav li a {
	font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #162955;
}
.nav-icon {
    gap: 30px;
}
/* Header css end */

/* customer-details css start */
.customer-details select,
.view-categories select,
.location select{
	border: 1px solid #BDC2CC !important;
	border-radius: 50px;
	padding: 20px 38px;
	color: #162955;
	font-weight: 500;
	font-size: 18px;
	font-family: 'Satoshi';
	line-height: 24px;
	outline: none !important;
	box-shadow: none !important;
	margin: 0 0 33px;
}
.section-title h5 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #162955;
    margin: 0;
    padding: 15px 0 12px;
}
 .customer-details .button-primary{
	padding: 21px 68px;
}
.button-primary:hover{
	background: #fff;
	color: #162955;
}
/* customer-details css end */

/* repair-cost-section css start */
.repair-cost-section .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(22, 41, 85, 0.08);
    border-radius: 25px;
    border: 0;
}
.repair-cost-section .card-body h5 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #162955;
    margin: 0;
    padding: 0 0 20px;
}
.repair-cost-section .card-body p {
    margin: 0;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #162955;
}
.repair-cost-section .repair-cost{
	margin-bottom: 33px;
}
/* repair-cost-section css end */

/* tabbing-section css start */
.tabbing-section {
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(22, 41, 85, 0.08);
    border-radius: 25px;
    padding-bottom: 30px;
}
.tabbing-section ul#myTab li.nav-item {
    padding: 0 75px;
}
.tabbing-section ul#myTab li.nav-item:first-child,
div#Recent ul#myTab li.nav-item:first-child{
    padding-left: 0;
}
div#Recent ul#myTab li.nav-item{
    padding: 0 30px;
}
/*.tabbing-section li.nav-item .seprate {
    position: relative;
    padding-right: 60px;
}
.tabbing-section li.nav-item:nth-child(2) {
    padding-left: 60px;
}*/
.tabbing-section li.nav-item .sub-contant:nth-child(2) {
	padding-left: 10px;
}
.tabbing-section li.nav-item{
    position: relative;
}
.tabbing-section li.nav-item:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 0;
    bottom: 0;
    border: 1px solid #818898;
    height: 25px;
}
.tabbing-section li.nav-item:last-child:after{
    display: none;
}
.tabbing-section .main-tab-content {
    background: #F5F9FF;
    border: 1px solid #D7DDEA;
    border-radius: 15px;
    padding: 0 30px;
    height: 100%;
    min-height: 415px;
}
.sub-main-contant{
	padding: 24px 0;
    width: calc(100% - 57px);
}
section.work-requests-section{
    width: calc(100% - 30px);
    margin: 0 auto 40px;
}
.tabbing-section .nav-item .sub-contant.active,
.tabbing-section .nav-item .sub-contant {
    background-color: transparent !important;
}
.tabbing-section ul.main-contant {
    padding: 30px 0 40px;
}
.contant.nav-link,
.sub-contant.nav-link {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #818898;
    padding: 0;
}
.sub-contant.nav-link{
	font-size: 18px;
	line-height: 32px;
}
.contant.nav-link.active,
.sub-contant.nav-link.active{
	color: #162955;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border-color: transparent;
}
.need-contant p {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #818898;
    margin: 0;
}
.message-contant {
    overflow-y: scroll;
    height: 100%;
    max-height: 300px;
    padding-right: 57px;
}
.message-part {
    border-bottom: 1px solid #D7D9DE;
    padding: 17px 0 14px;
}
.message-details {
    gap: 34px;
}
.admin-details h5,
.admin-details p,
.message-date p ,
.admin-image p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #162955;
    margin: 0;
}
.admin-details p{
    font-weight: 500;
}
.admin-image p {
    font-weight: 500;
    text-align: center;
    margin: 5px 0 0;
}
.message-date p{
	font-weight: 500;
    color: #7A88A6;
}
.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #162955;
	border-radius: 4px;
}
.scroll::-webkit-scrollbar-thumb
{
	background-color: #162955;
}
.view-categories {
    gap: 25px;
    padding: 18px 0;
    border-bottom: 1px solid #BDC2CC;;
}
.view-categories select{
	font-size: 16px;
	line-height: 22px;
	padding: 12px 18px;
	margin: 0;
}
.view-categories label{
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: #162955;
}
.view-categories .button-primary {
    padding: 11px 61px;
}
/* tabbing-section css end */

/* requests-section css start */
.requests-section {
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(22, 41, 85, 0.08);
    border-radius: 25px;
    padding: 0 30px;
}
.view-button {
    display: flex;
    align-items: center;
    justify-content: end;
}
.requests-section .button-primary{
	padding: 10px 15px;
}
.table>tbody>tr>td{
	border-top: 1px solid transparent !important;
	border-bottom-width: 0;
	padding-left: 40px;
	font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #162955;
}
.table>tbody>tr>td:nth-child(1){
	font-weight: 700;
}
.table>thead>tr{
	background: #F5F9FF;
	border: 1px solid #D7DDEA;
	border-radius: 10px;
}
.requests-section .table>thead>tr>th,
.project-planner-table .table>thead>tr>th{
	padding: 24px 40px;
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	color: #162955;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #D7DDEA !important;
}
.btn:active:focus, .btn:focus{
	outline: none !important;
}
.request-contant {
    padding: 44px 0 32px;
}
.request-title h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #162955;
    margin: 0;
}
.requests-section button.btn,
.project-planner-table button.btn{
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	border-radius: 5px;
    max-width: 90px;
    width: 100%;
    padding: 0;
}
.requests-section button.btn.verified,
.project-planner-table button.btn.verified,
.project-planner-table button.btn.green-pending{
	color: #52A274;
	background: #DFEEE7; 
}
.requests-section button.btn.pending,
.project-planner-table button.btn.pending{
    color: #A09A25;
    background: #FEF6CF;
}
.requests-section button.btn.unverified,
.project-planner-table button.btn.unverified{
    color: #CD6767;
    background: #FBDCDC;
}
/* requests-section css end */

/* Footer css  */
footer{
    background: #162955;
    padding: 14px 40px 14px 44px;
}
footer .footer-menu{
    list-style: none;
}
footer .footer-menu li{
    position: revert;
}
footer .footer-menu li:after{
    content: '|';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Satoshi';
    color:rgba(141, 150, 170, 1);
    padding: 0 10px;
}
footer .footer-menu li:last-child:after{
    display: none;
}
footer .footer-menu a:hover{
    color: rgba(141, 150, 170, 1);
}
footer .footer-menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Satoshi';
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
footer span a{
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
footer span a:hover{
    color: rgba(141, 150, 170, 1);
}
footer span, footer span a{
    color: #FFFFFF;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    font-family: 'Satoshi';
}
/*media screen css(home page) start*/
@media screen and (max-width:1024px){
	.repair-cost-section .card-body h5{
		font-size: 22px;
	}
}
 @media screen and (max-width:576px){
 	.view-button {
    width: 100%;
    justify-content: start;
	}
	.request-contant {
	    padding: 25px;
	    gap: 15px;
	}
	.requests-section .button-primary {
	    width: 100%;
	}
	.request-title h2 {
	    text-align: center;
	}
	.repair-cost-section {
    	padding-top: 20px;
	}
 }
/*media screen css(home page) start*/



/* New Service Request Start */
.service-section{
    margin: 26px 0 30px;
}
.service-section h2{
    color: #162955;
    font-weight: 900;
    font-size: 38px;
    line-height: 51px;
    font-family: 'Satoshi';
    margin: 0 0 32px;
}
.service-section .container{
    max-width: 1390px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(22, 41, 85, 0.08);
    border-radius: 25px;
    padding: 37px 69px 32px;
}
.service-section label{
    color: #162955;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Satoshi';
    margin: 0 0 15px;
}
.service-section input, .service-section select,
.modal-body select,.modal-body input{
    border: 1px solid #BDC2CC;
    border-radius: 50px;
    padding: 20px 38px;
    color: #162955;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Satoshi';
    line-height: 24px;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 0 30px;
}
.modal-body select{
	color: #67728C;
}
.service-section input:focus, .service-section select:focus, .service-section textarea:focus,
.main-modal-dialog input:focus, ..main-modal-dialog select:focus, ..main-modal-dialog textarea:focus{	
    border-color: #BDC2CC;
}
.service-section input::-webkit-input-placeholder,
.main-modal-dialog input::-webkit-input-placeholder,
.main-modal-dialog textarea::-webkit-input-placeholder{
    color: #67728C;
}
.service-section input::-moz-placeholder,
.main-modal-dialog input::-moz-placeholder,
.main-modal-dialog textarea::-moz-placeholder{
    color: #67728C;
}
.service-section input:-ms-input-placeholder,
.main-modal-dialog input:-ms-input-placeholder,
.main-modal-dialog textarea:-ms-input-placeholder{
    color: #67728C;
}
.service-section input:-moz-placeholder,
.main-modal-dialog input:-moz-placeholder,
.main-modal-dialog textarea:-moz-placeholder{
    color: #67728C;
}

.service-section input[type="file"],
.main-modal-dialog input[type="file"]{
    padding: 10px 11px;
    text-align: left;
}
.service-section input[type="file"]::-webkit-file-upload-button,
.main-modal-dialog input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
.service-section input[type="file"]::before,
.main-modal-dialog input[type="file"]::before {
    content: 'Choose Files';
    display: inline-block;
    background: #162955;
    border-radius: 50px;
    padding: 11px 48px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 22px;
    font-family: 'Satoshi';
    color: #FFFFFF;
    border: 1px solid #162955;
}
.service-section input[type="file"]:hover::before,
.main-modal-dialog input[type="file"]:hover::before {
    border-color: black;
}
.service-section input[type="file"]:active::before,
.main-modal-dialog input[type="file"]:active::before {
    background: #fff;
    color: #162955;
}

.service-section textarea,
.main-modal-dialog textarea{
    border: 1px solid #BDC2CC;
    border-radius: 30px;
    padding: 20px 38px;
    resize: none;
    color: #162955;
    font-weight: 500;
    font-family: 'Satoshi';
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 30px;
    outline: none !important;
    box-shadow: none !important;
    height: 200px;
}
.main-modal-dialog textarea{
	margin: 0;
	height: 138px;
}
.button-primary,
.modal-footer .btn-primary,
.modal-footer .btn-secondary{
    border: 2px solid #162955;
    background: #162955;
    border-radius: 50px;
    padding: 21px 96px;
    color: #FFFFFF;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.button-primary:hover,
.modal-footer .btn-primary:hover{
    background: #fff;
    color: #162955;
}
@media screen and (max-width:767px){
    .service-section .container{
        width: 95%;
        padding: 37px 15px 32px;
    }
}
/* New Service Request End */



/* Project Planner start */

.planner-main-menu ul.navbar-nav {
    gap: 10px;
}
.project-planner-section .container{
	width: 100%;
	max-width: 1890px;
	padding: 0 15px;
	display: block;
	margin: 0 auto;
}
.project-planner-contant {
    padding: 27px 0;
}
.project-planner-section .planner-contant{
	gap: 13px;
}
.project-planner-section .planner-contant h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color: #162955;
} 
.project-planner-section button.add-icon {
    border: 1px solid #B5BFD5;
    padding: 11px;
    background: transparent;
    border-radius: 50%;
}
.project-planner-section .location select{
	margin: 0;
	padding: 15px 28px;
}
.project-planner-section .amount-contant{
	padding-right: 15px;
}
.project-planner-section .amount-contant p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
    color: #162955;
    margin: 0;
}

.project-planner-table {
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(22, 41, 85, 0.08);
    border-radius: 25px;
    padding: 44px 30px 46px;
    margin-bottom: 40px;
}
.project-planner-table .table>tbody>tr>td{
	padding-left: 8px;
}
.project-planner-table .table>thead>tr>th{
	padding: 24px 20px;
}
.project-planner-table .pagination{
    margin-bottom: 0;
}
ul.pagination-list {
    margin: 0;
    padding: 0;
    gap: 30px;
}
li.page-number {
    list-style: none;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #162955;
}
li.page-number.active {
    background: #03294E;
    padding: 10px 19px;
    border-radius: 50%;
    color: #fff;
}

/*modal css*/
.modal-content {
    background: #FFFFFF;
    border-radius: 20px !important;
    border: 0px solid transparent;
}
.modal-content .modal-header{
    border: 0px solid transparent;
    padding: 0 0 26px;
}
.main-modal-dialog .modal-header .close {
    right: 42px;
    position: absolute;
    color: black;
    background: transparent;
    border-radius: 0;
    border: 0px solid transparent;
}

h5.modal-title{
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #162955;
}
.modal-body select,
.modal-body input{
	padding: 19px 30px;
	margin: 0;
}
.modal-content .modal-body{
    padding: 0;
}
.modal-dialog {
    width: 100% !important;
    max-width: 700px;
}
.modal-content {
	padding: 34px 40px 29px;
    height: 600px;
}
.upload-file input{
    height: 65px;
}
.modal-footer .btn-secondary{
	border: 1px solid #D7DDEA;
	background-color: #fff;
	color: #162955 !important;
}
.modal-footer .btn-secondary:hover {
    background-color: #162955;
    color: #fff !important;
}
.modal-footer .btn-primary,
.modal-footer .btn-secondary{
	padding: 16px 0;
}
.modal-footer .row{
    margin: 0 -12px;
}

/* Project Planner End */



@media screen and (max-width:991px){
    
    .navbar-toggler{
        background: transparent;
        border-radius: 0;
        border: 0px solid transparent;
        padding: 0;
        width: 25px;
        height: 25px;
        box-shadow: none !important;
        outline: none !important;
    }
    .navbar-toggler span{
        position: relative;
        height: 2px;
        width: 100%;
        background: #162955;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-toggler span:after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -10px;
        height: 2px;
        background: #162955;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-toggler span:before{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: -10px;
        height: 2px;
        background: #162955;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-toggler[aria-expanded="true"] span{
        background: transparent;
    }
    .navbar-toggler[aria-expanded="true"] span:after{
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
    }
    .navbar-toggler[aria-expanded="true"] span:before{
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 0;
    }
    
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #162955;
    }
    .navbar-collapse  ul{
        padding: 30px 15px;
    }
    .navbar-nav li a{
        color: #fff;
    }
    nav.navbar{
        padding: 10px 0;
    }
    .nav-icon {
        gap: 10px;
    }
    footer{
        padding: 14px 15px;
    }
}

